@model List<StudentCatalog.Models.StudentCoursesModel>

@{
    ViewData["Title"] = "Catalog Results";
    string userRole = User?.Claims.FirstOrDefault(claim => claim.Type == "Role")?.Value ?? "";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
@using StudentCatalog.Logic
<h1>Catalog Results</h1>

@if (Model.Any())
{
    <form asp-controller="EnrolledCourses" asp-action="ExportCatalog" method="post">
        <button type="submit" class="btn btn-primary mt-3">Export Catalog</button>
        
               
                @for (int i = 0; i < Model.Count; i++)
                {
                    <input type="hidden" asp-for="@Model[i].Student.User.FirstName" name="Model[@i].Student.User.FirstName" />
                    <input type="hidden" asp-for="@Model[i].Course.Name" name="Model[@i].Course.Name" />
                    <input type="hidden" asp-for="@Model[i].Student.Group.GroupNumber" name="Model[@i].Student.Group.GroupNumber" />
                    <input type="hidden" asp-for="@Model[i].Grade" name="Model[@i].Grade" />

                }
            
       
    </form>

    <form asp-controller="EnrolledCourses" asp-action="UpdateGrade" method="post">

        <table class="table table-striped" >
            <thead class="thead-dark">
                <tr>
                    <th>Student Name</th>
                    <th>Course Name</th>
                    <th>Group Number</th>
                    <th>Grade</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {


                    <tr>

                        <td>@Model[i].Student.User.FirstName</td>
                        <td>@Model[i].Course.Name</td>
                        <td>@(Model[i].Student.Group != null ? Model[i].Student.Group.GroupNumber.ToString() : "No group")</td>
                        <td>@Model[i].Grade</td>

                        @{
                            if (userRole.ToString() == UserType.Profesor.ToString())
                            {
                                <td style="width:5%">

                                    <input type="text" asp-for="@Model[i].Grade" class="form-control"  />
                                    <span asp-validation-for="@Model[i].Grade" class="text-danger"></span>
                                    <input type="hidden" asp-for="@Model[i].Id" />
                                </td>
                                <td style="width:15%">
                                    <button type="submit" name="modelId" value="@Model[i].Id" class="btn btn-primary">Update Grade</button>
                                </td>
                               
                                <td style="width:25%">
                                    @if (ViewBag.UpdateGradeError != null && Model[i].Id == ViewBag.RecordId)
                                    {
                                        <div class="control-label" style="color:red">
                                            @ViewBag.UpdateGradeError
                                        </div>
                                    }
                                </td>
                                
                              
                               
                            }

                        }


                    </tr>



                }
              

            </tbody>
        </table>
        
    </form>
}
else
{
    <div class="alert alert-info" role="alert">
        No students found for the selected criteria.
    </div>
}
