@model CourseModel
@{
    ViewData["Title"] = "Add Course";
    List<SelectListItem> teachers = ViewBag.Teachers;
}

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="@Model.Name" class="control-label">Name</label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.TeacherId" class="control-label">Teacher Id</label>
            <select asp-for="@Model.TeacherId" asp-items="@teachers" class="form-control"></select>
            <span asp-validation-for="@Model.TeacherId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="YearCourse" class="control-label">Course Year</label>
            <input asp-for="YearCourse" type="number" class="form-control"
                   placeholder="Enter the year of the course" min="1" max="4" />
            <span asp-validation-for="YearCourse" class="text-danger"></span>
        </div>

        <input type="submit" value="Adauga" />
    </form>
</div>